@font-face {
  font-family: Poppins;
  src: url('../../public/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url('../../public/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url('../../public/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Helvetica', 'Arial', 'sans-serif';
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding-left: 30px;
}

/* for pdf viewer print function*/
@media print {
  html,
  body {
    min-width: auto !important;
  }
}

/*for stripe.js components reset style*/
.StripeElement {
  display: block;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #d2d6e1;
}
.StripeElement--invalid {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  border-color: #ff5630;
}
.StripeElement--focus {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  border-color: #202939;
}

.payment_cardNumber_input {
  width: 100%;
  font-size: 16px;
  margin-top: 16px;
}
.payment_cardNumber_input > .__PrivateStripeElement {
  height: 100%;
}
.payment_cardExpiry_input,
.payment_cardCvc_input {
  width: 100%;
  margin-top: 16px;
}

/*opt style*/

.OPT_TextField_inputStyle_container {
  width: auto !important;
}

.OPT_TextField_inputStyle_container > div {
  border: none;
  width: auto;
}

.OPT_TextField_inputStyle_container > div > input {
  width: 36px !important;
  height: 36px !important;
  margin-right: 4px;
  outline: none;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #d2d6e1 !important;
  color: #202939;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  caret-color: #202939 !important;
}

.OPT_TextField_inputStyle_container > div > input:focus,
.OPT_TextField_inputStyle_container > div > input:hover {
  outline: none;
  border: none;
  border-bottom: 1px solid #202939 !important;
}

.OPT_TextField_inputStyle_container > div > input:disabled {
  border-bottom: 1px solid #cdcdcd !important;
  caret-color: #202939 !important;
  background: transparent !important;
  cursor: not-allowed;
  color: #cdcdcd !important;
}

/*MUI DataGrid style format*/
/*.MuiDataGrid-windowContainer {*/
/*  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);*/
/*}*/

/*.MuiDataGrid-columnHeader:focus {*/
/*  outline: none !important;*/
/*  border: 0;*/
/*}*/

/*.MuiDataGrid-footerContainer {*/
/*  margin: 24px 0 48px 0;*/
/*}*/

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20000;
  height: 3px;
  background: #3f81e9;
}

#nprogress .spinner-icon {
  display: none;
}

/*global common atom style*/

/*variable*/

:root {
  --POS--gap: 8px;
}

.link_style {
  color: #1134e3;
  cursor: pointer;
}

.POS_tl {
  text-align: left;
}

.POS_tc {
  text-align: center;
}

.POS_tr {
  text-align: right;
}

.POS_inline_flex {
  display: inline-flex;
}

.POS_fullwidth {
  width: 100%;
}

/* flex */
.POS_flex {
  display: flex;
}

.POS_fd_row {
  flex-direction: row;
}

.POS_fd_column {
  flex-direction: column;
}

.POS_al_c {
  align-items: center;
}

.POS_jc_c {
  justify-content: center;
}

.POS_jc_sb {
  justify-content: space-between;
}

/*margin*/

.POS_mr_1 {
  margin-right: var(--POS--gap) !important;
}

.POS_mr_2 {
  margin-right: calc(2 * var(--POS--gap)) !important;
}

.POS_mr_3 {
  margin-right: calc(3 * var(--POS--gap)) !important;
}

.POS_ml_1 {
  margin-left: var(--POS--gap) !important;
}

.POS_ml_2 {
  margin-left: calc(2 * var(--POS--gap)) !important;
}

.POS_ml_3 {
  margin-left: calc(3 * var(--POS--gap)) !important;
}

.POS_mt_1 {
  margin-top: var(--POS--gap) !important;
}

.POS_mt_2 {
  margin-top: calc(2 * var(--POS--gap)) !important;
}

.POS_mt_3 {
  margin-top: calc(3 * var(--POS--gap)) !important;
}

/* padding */
.POS_pr_1 {
  padding-right: var(--POS--gap) !important;
}

.POS_pr_1 {
  padding-right: var(--POS--gap) !important;
}

.POS_pr_2 {
  padding-right: calc(2 * var(--POS--gap)) !important;
}

.POS_pr_3 {
  padding-right: calc(3 * var(--POS--gap)) !important;
}

.POS_pr_4 {
  padding-right: calc(4 * var(--POS--gap)) !important;
}

.POS_pr_5 {
  padding-right: calc(5 * var(--POS--gap)) !important;
}

.POS_pr_6 {
  padding-right: calc(6 * var(--POS--gap)) !important;
}

.POS_pl_1 {
  padding-left: var(--POS--gap) !important;
}

.POS_pl_2 {
  padding-left: calc(2 * var(--POS--gap)) !important;
}

.POS_pl_3 {
  padding-left: calc(3 * var(--POS--gap)) !important;
}

.POS_pl_4 {
  padding-left: calc(4 * var(--POS--gap)) !important;
}

.POS_pl_5 {
  padding-left: calc(5 * var(--POS--gap)) !important;
}

.POS_pl_6 {
  padding-left: calc(6 * var(--POS--gap)) !important;
}

.POS_pt_1 {
  padding-top: var(--POS--gap) !important;
}

.POS_pt_2 {
  padding-top: calc(2 * var(--POS--gap)) !important;
}

.POS_pt_3 {
  padding-top: calc(3 * var(--POS--gap)) !important;
}

.POS_pt_4 {
  padding-top: calc(4 * var(--POS--gap)) !important;
}

.POS_pt_5 {
  padding-top: calc(5 * var(--POS--gap)) !important;
}

.POS_pt_6 {
  padding-top: calc(6 * var(--POS--gap)) !important;
}

.POS_pb_1 {
  padding-bottom: var(--POS--gap) !important;
}

.POS_pb_2 {
  padding-bottom: calc(2 * var(--POS--gap)) !important;
}

.POS_pb_3 {
  padding-bottom: calc(3 * var(--POS--gap)) !important;
}

.POS_pb_4 {
  padding-bottom: calc(4 * var(--POS--gap)) !important;
}

.POS_pb_5 {
  padding-bottom: calc(5 * var(--POS--gap)) !important;
}

.POS_pb_6 {
  padding-bottom: calc(6 * var(--POS--gap)) !important;
}

/* icon button*/

.POS_icon_left {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.POS_icon_right {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
